**Important:** in order to complete the exercises below, please first download the "NYC Property Sales" dataset using the code cell below:

In [ ]:
!pip install requests
import requests

url = "ADD LINK HERE"
response = requests.get(url)

file = open("nyc_property_sales.csv", "wt")
file.write(response.text)
file.close()

After the dataset has been downloaded, please run the two code cells below, in order to load the dataset into a dataframe and then store it in the variable `df`. It is crucial that the variable name is `df` (and not something else), as this is what the automated grading software expects.

In [27]:
import pandas as pd

In [85]:
FILE_NAME = "nyc_property_sales.csv"
df = pd.read_csv(FILE_NAME)

### Exercise 1.1 (0.5 points)

Convert the `"-"` values in the `"SALE PRICE"` column to missing values. When running the following code: `df["SALE PRICE"].isna().sum()` , the output should be: `14561`.

### Exercise 1.2 (2.5 points)

Look at the data in other columns and convert the appropriate values to missing values.

**Hint:** There are 6 other columns that contain values that should be converted to missing values.

### Exercise 1.3 (0.5 points)

Convert the `"SALE PRICE"` column `dtype` to `Int64`. When running the following code: `df["SALE PRICE].dtype` , the output should be: `Int64Dtype()`.

**Hint:** by default, the `int64` dtype does not support missing values in Pandas. Therefore, calling `Series.as_type("int64")` on a series that contains missing values will result in an error. Instead, one must do the following: `Series.as_type("Int64")` (notice the capital `I`). This is a bit confusing, since `float64` does support missing values by default, but sometimes programming libraries (and other tools) have their quirks.

### Exercise 1.4 (2.5 points)

Look at the dtypes of other columns and convert the `dtype` of columns with an incorrect `dtype`.

**Hint:** there are 3 other columns which should be converted to a different `dtype`.

### Exercise 1.5 (0.5 point)

Remove the column named `"Unnamed: 0"` from the dataframe.

### Exercise 1.6 (1.5 points)

Take a look at the data in the other columns. There is one column, which does not contain any data - figure out which column it is and remove it from the dataframe.

### Exercise 1.7 (2 points)

Convert all column names to lowercase.

**Hint 1**: `DataFrame.columns` is a list containing strings which correspond to the column names. Overriding this attribute with a new list containing different strings will change the column names in the dataframe.

**Hint 2**: strings have a `.lower()` method, which converts a string to lowercase. Therefore running `"HELLO".lower()` will return `"hello"`.